@model TSShopping.Data.Entities.State

<h4>Departamento/Estado</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.CityNumber)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.CityNumber)
    </dd>
</dl>
