@model TSShopping.Data.Entities.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle</h1>
<div>
    <partial name="_CategoryDetail"/>
</div>
<div>
    <a asp-action="Index" class="btn btn-sm btn-outline-success"><i class="fa-solid fa-arrow-rotate-left"></i> Regresar</a>
</div>